<ion-header>
  <ion-toolbar>
    <ion-title>Create Post</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="postForm" (ngSubmit)="submitPost()">
    <ion-item>
      <ion-label position="floating">Title</ion-label>
      <ion-input type="text" formControlName="title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Language</ion-label>
      <ion-select formControlName="language" placeholder="Select one">
        <ion-select-option *ngFor="let language of languages" [value]="language.code">{{language.name}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Content</ion-label>
      <ion-textarea formControlName="content"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Image URL</ion-label>
      <ion-input type="url" formControlName="postImage"></ion-input>
    </ion-item>
    <ion-button type="submit" expand="block">Post</ion-button>
  </form>
</ion-content>
